#app {
    display: flex;
    width: 500px;
    height: 300px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    border: 3px solid black;
}

.click-area {
    flex-grow: 1;

    display: flex;
    align-items: center;

    background: #950000;
    cursor: pointer;
    border-right: 3px solid black;
}

.display-text {
    padding: 24px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
}

.recent-scores {
    display: flex;
    flex-direction: column;
    width: 125px;
    flex-shrink: 0;
}

.score {
    flex-grow: 1;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px;
}

.score:nth-child(odd) {
    background: #eeeeee;
}

.average-score {
    font-size: 24px;
}

.centered {
    display: flex;
    justify-content: center;
}

.jumbotron {
    background-color: #e9e1e1;
    margin-top: 50px;
}

#game {
    margin-top: 50px;
}

.heading {
    font-family: 'Silkscreen', cursive;
    color: #15502C;
}

.btn-primary {
    background-color: #15502C;
    border-color: #0f3d20;
}

.btn-primary:hover {
    background-color: #289b54;
    border-color: #0f3d20;
}

form {
    margin-top: 30px;
}

#submit {
    margin-right: 20px;
}